{% extends "layout/default.twig" %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col col-lg-6 col-md-6 col-sm-12 col-12 pad-20">
                <a href="/" class="link">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fas fa-home font-50 pad-10"></i>
                            <p>Home</p>
                        </div>
                    </div>
                </a>
            </div>                   

            <div class="col col-lg-6 col-md-6 col-sm-12 col-12 pad-20">
                <a href="/categorias" class="link">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fas fa-user-plus font-50 pad-10"></i>
                            <p>Categorias</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}